* {
  padding: 0%;
  margin: 0%;
  font-family: "Acme", sans-serif;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 100%;
}

.section-home {
  height: 75rem;
  background-color: #1f2833;
  color: #c5c6c7;
  clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
}
.home-svg {
  padding-top: 3rem;
  width: 40rem;
  height: 40rem;
}

.heading-primary {
  padding-top: 4rem;
  text-align: center;
  color: #66f6f1;
}

p {
  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
}

.about {
  background-color: #c5c6c7;
  height: 90rem;
  color: #2e554e;
  margin-top: -35rem;
}

.heading-secondary {
  padding-top: 35rem;
  text-align: center;
  color: #1f2833;
}

.about-svg--1 {
  width: 50rem;
  height: 50rem;
  padding-top: 10rem;
}
.about-svg--1:hover {
  transform: scale(1.05);
}

.about-svg--2 {
  width: 50rem;
  height: 50rem;
  padding-top: 3rem;
}
.about-svg--2:hover {
  transform: scale(1.05);
}

.text-about {
  padding-top: 3rem;
}
.skills {
  background-color: #66fcf1;
  height: 60rem;
}
.heading-secondary-2 {
  font-family: "Acme", sans-serif;
  text-transform: capitalize;
  padding: 4rem 0;
  text-align: center;
  color: #0b0c10;
  word-spacing: 3px;
}
.card-body {
  background-color: #f2f2f2;
}
.card-title {
  color: #0b0c10;
}
.card-text {
  color: #0b0c10;
}
.card-deck {
  /* padding: 5rem 5rem; */
  border: #c5c6c7;
}

.section-dev {
  background-color: #1f2833;
  height: 55rem;
}
.image-dev {
  padding: 5rem 0rem;
  height: 50rem;
  width: 50rem;
}
.arrow {
  padding-left: 1.2rem;
}

.section-footer {
  height: 5rem;
  text-transform: capitalize;
  background-color: #0b0c10;
  color: #f2f2f2;
}
.footer-text {
  padding-top: 0.8rem;
  word-spacing: 3px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
  .section-home {
    clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  }
  .about {
    height: 100rem;
  }
  .heading-secondary {
    padding-top: 45rem;
  }
  .skills {
    height: 120rem;
  }

  .section-dev {
    background-color: #1f2833;
    height: 50rem;
  }
}
