* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 0; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 1500;
    letter-spacing: 1.5rem; }
  .heading-primary--sub {
    margin-top: 2.5rem;
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.45rem; }

.btn {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.7rem;
  word-spacing: 5px;
  text-transform: uppercase;
  animation-name: moveInBottom;
  animation-duration: 4s; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to left, #ffffff, #000033);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  word-spacing: 1.5rem;
  animation-name: moveInBottom;
  animation-duration: 3s;
  transition: all; }
  .heading-secondary:hover {
    transform: skewX(-20deg); }

@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-s {
  margin-bottom: 3rem; }

.u-margin-bottom-m {
  margin-bottom: 6rem; }

.u-margin-bottom-l {
  margin-bottom: 8rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(0, 0, 85, 0.2), rgba(0, 0, 51, 0.9)), url("../img/banner.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    right: 3rem; }
  .header__logo {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }

.header__button-primary {
  margin-top: 7rem; }

.btn {
  display: inline-block; }

.btn-white {
  background-color: #ffffff;
  padding: 1.5rem 5rem;
  border-radius: 10rem; }

.section-about {
  height: 75vh;
  background-color: #DCDCDC;
  padding: 25rem;
  margin-top: -20rem; }
