* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 0; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 1500;
    letter-spacing: 1.5rem; }
  .heading-primary--sub {
    margin-top: 2.5rem;
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.45rem; }

.btn {
  font-family: "Red Rose", cursive;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  animation-name: moveInBottom;
  animation-duration: 4s; }

.heading-secondary {
  font-family: "Red Rose", cursive;
  font-size: 4.5rem;
  font-weight: 700;
  background-image: linear-gradient(to left, #0000ff, #000033);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  text-decoration: underline #0000ff;
  margin-top: 5rem;
  letter-spacing: 0.8rem;
  word-spacing: 1.5rem;
  transition: all; }
  .heading-secondary:hover {
    transform: skewX(-20deg);
    text-decoration: underline #000033; }

.heading-tertiary {
  font-family: "Red Rose", cursive;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: #444343; }

.about {
  font-size: 1.7rem;
  color: gray;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 3.5rem; }

.btn-blue {
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.7rem;
  text-decoration: none; }
  .btn-blue:hover {
    color: #000033; }

@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-s {
  margin-bottom: 3rem; }

.u-margin-bottom-m {
  margin-bottom: 6rem; }

.u-margin-bottom-l {
  margin-bottom: 8rem; }

.u-margin-top-m {
  margin-bottom: 5rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(0, 0, 85, 0.2), rgba(0, 0, 51, 0.9)), url("../img/banner.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    right: 3rem; }
  .header__logo {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin: 8rem auto 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 *6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( (2 * ((100% - 3 *6rem) / 4)) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header__button-primary {
  margin-top: 7rem; }

.btn {
  display: inline-block; }

.btn-white {
  background-color: #ffffff;
  padding: 1.7rem 5rem;
  border-radius: 10rem; }

.button-secondary {
  margin-top: 2rem; }

.btn-blue {
  background-color: #0000ff;
  padding: 0.5rem 0.8rem; }

.image-box {
  position: relative; }

.image-box__img {
  position: absolute;
  box-shadow: 0 2.4rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  z-index: 0;
  transition: all 0.4s;
  outline-offset: 2rem; }
  .image-box__img--1 {
    height: 45rem; }
  .image-box__img--2 {
    width: 80%;
    top: 28rem;
    left: 3rem; }
  .image-box__img:hover {
    outline: 1.5rem solid #000033;
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20; }
  .image-box__img:hover .image-box__img__img:not(:hover) {
    transform: scale(0.55); }

.section-about {
  height: 45vh;
  background-color: #e9e9e9;
  padding: 25rem;
  margin-top: -20rem; }
