$color-primary-light: #000066;
$color-primary-medium: #000055;
$color-primary-dark: #000033;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #87ceeb;
$color-tertiary-dark: #0000ff;

$color-white: #ffffff;
$color-light-grey: #dcdcdc;
$color-black: #000000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
