.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 0;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 1500;
    letter-spacing: 1.5rem;
  }

  &--sub {
    margin-top: 2.5rem;
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.45rem;
  }
}

.btn {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.7rem;
  text-transform: uppercase;
}

