.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 0;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 1500;
    letter-spacing: 1.5rem;
  }

  &--sub {
    margin-top: 2.5rem;
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.45rem;
  }
}

.btn {
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  animation-name: moveInBottom;
  animation-duration: 4s;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to left, #0000ff, #000033);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  word-spacing: 1.5rem;
  animation-name: moveInBottom;
  animation-duration: 3s;
  transition: all;

  &:hover {
    transform: skewX(-20deg);
  }
}
