.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 0;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 1500;
    letter-spacing: 1.5rem;
  }

  &--sub {
    margin-top: 2.5rem;
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.45rem;
  }
}

.btn {
  font-family: "Red Rose", cursive;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  animation-name: moveInBottom;
  animation-duration: 4s;
}

.heading-secondary {
  font-family: "Red Rose", cursive;
  font-size: 4.5rem;
  font-weight: 700;
  background-image: linear-gradient(to left, #0000ff, #000033);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  text-decoration: underline $color-tertiary-dark;
  margin-top: 5rem;
  letter-spacing: 0.8rem;
  word-spacing: 1.5rem;
  transition: all;

  &:hover {
    transform: skewX(-20deg);
    text-decoration: underline $color-primary-dark;
  }
}

.heading-tertiary {
  font-family: "Red Rose", cursive;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(68, 67, 67);
}

.about {
  font-size: 1.7rem;
  color: gray;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.btn-blue {
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.7rem;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }
}
