.u-center-text {
  text-align: center;
}

.u-margin-bottom-s {
  margin-bottom: 3rem;
}
.u-margin-bottom-m {
  margin-bottom: 6rem;
}
.u-margin-bottom-l {
  margin-bottom: 8rem;
}

.u-margin-top-m {
  margin-bottom: 5rem;
}
