.header__button-primary {
  margin-top: 7rem;
}
.btn {
  display: inline-block;
}

.btn-white {
  background-color: $color-white;
  padding: 1.7rem 5rem;
  border-radius: 10rem;
}

.button-secondary {
  margin-top: 2rem;
}

.btn-blue {
  background-color: $color-tertiary-dark;
  padding: 0.5rem 0.8rem;
}
