.section-about {
  height: 85vh;
  background-color: $color-light-grey;
  padding: 25rem;
  margin-top: -20rem;
  position: relative;
}

.section-skills {
  height: 75vh;
  position: relative;
  padding: 5rem;
  z-index: 4;
  background-color: #000;
}
